<div class="news-grid">

<div class="news-card">
<a href="https://rd.hitachi.co.jp/_ct/17817036?o=0&tg=%E5%85%88%E7%AB%AF%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%EF%BC%86%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783695/rc/2026/01/22/be56088b99bc3c3d0706aecf42c6461f8dec2e35_large.jpg" alt="News" class="news-image">
<p class="news-title">AIモデル同士の会話から相性を特定し、ハイパフォーマンスなAIチームを自動編成する技術を開発</p>
<p class="news-date">2026-01-26</p>
</a>
</div>

<div class="news-card">
<a href="https://rd.hitachi.co.jp/_ct/17811118?o=0&tg=%E5%85%88%E7%AB%AF%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%EF%BC%86%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783695/rc/2025/12/18/04eb8770e075c728ded47a096f2939967e8666bd_large.jpg" alt="News" class="news-image">
<p class="news-title">日立、制御工学とAI・ソフトウェア工学を融合し、「Physical AI」の実現に向けた制御ソフトウェアの開発効率化と再利用技術を開発</p>
<p class="news-date">2025-12-24</p>
</a>
</div>

<div class="news-card">
<a href="https://rd.hitachi.co.jp/_ct/17804707?o=0&tg=%E5%85%88%E7%AB%AF%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%EF%BC%86%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783695/rc/2025/11/21/3819a1b73737de96516941d37c8660e473c6c642_large.jpg" alt="News" class="news-image">
<p class="news-title">ダム再開発工事にBIM/CIMを活用した3次元流体解析技術を導入</p>
<p class="news-date">2025-11-19</p>
</a>
</div>

<div class="news-card">
<a href="https://rd.hitachi.co.jp/_ct/17795256?o=0&tg=%E5%85%88%E7%AB%AF%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%EF%BC%86%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783695/rc/2025/10/08/b4e6a62aa8a66c25922cb5b53ab39ed11cffddd8_large.jpg" alt="News" class="news-image">
<p class="news-title">全方位からの電波を観測し宇宙状況把握を高度化。都市インフラの監視や環境モニタリングへの適用をもめざす。</p>
<p class="news-date">2025-10-16</p>
</a>
</div>

<div class="news-card">
<a href="https://rd.hitachi.co.jp/_ct/17794840?o=0&tg=%E5%85%88%E7%AB%AF%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%EF%BC%86%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783695/rc/2025/10/06/f581c933635c02337e327f533eba343ce186295c_large.jpg" alt="News" class="news-image">
<p class="news-title">日立の次世代AIエージェント「Naivy」を活用し、現場の安全性を高めるリスク危険予知支援システムを新開発、現場安全性・効率性向上の効果を実証</p>
<p class="news-date">2025-10-07</p>
</a>
</div>

<div class="news-card">
<a href="https://rd.hitachi.co.jp/_ct/17792808?o=0&tg=%E5%85%88%E7%AB%AF%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%EF%BC%86%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783695/rc/2025/09/26/f0d2d225794d850c2480986f6441175677b8aa1c_large.jpg" alt="News" class="news-image">
<p class="news-title">日立グループ内でのソフトウェア開発強化活動が、ACM SPLC2025において「プロダクトラインの殿堂」に登録</p>
<p class="news-date">2025-09-30</p>
</a>
</div>

</div>