<div class="news-grid">

<div class="news-card">
<a href="https://rd.hitachi.co.jp/_ct/17828494?o=0&amp;tg=%E5%85%88%E7%AB%AF%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%EF%BC%86%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783695/rc/2026/03/19/fca10b715ef4b894107c8f06a66a9d8e8c97d404_large.jpg" alt="News" class="news-image">
<p class="news-title">産業環境で実用化するオンデバイス音声AI — ドメイン特有語彙への対応、低遅延実行、雑音に強い前処理技術（英語）</p>
<p class="news-date">2026-03-25</p>
</a>
</div>

<div class="news-card">
<a href="https://rd.hitachi.co.jp/_ct/17824971?o=0&amp;tg=%E5%85%88%E7%AB%AF%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%EF%BC%86%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783695/rc/2026/03/04/cc4e610f9865373e17811c1e463e9dc308a93de5_large.jpg" alt="News" class="news-image">
<p class="news-title">日立、JSTムーンショット型研究開発事業 目標6 「2050年までに、経済・産業・安全保障を飛躍的に発展させる誤り耐性型汎用量子コンピュータを実現」第2期の研究プロジェクトに参画</p>
<p class="news-date">2026-03-03</p>
</a>
</div>

<div class="news-card">
<a href="https://rd.hitachi.co.jp/_ct/17819403?o=0&amp;tg=%E5%85%88%E7%AB%AF%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%EF%BC%86%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783695/rc/2026/02/03/a430773e210db0eaecb7f819d6b72e54ab972511_large.jpg" alt="News" class="news-image">
<p class="news-title">医療だけに頼らない「社会的処方」により健康支援を実現するために、地域資源をつなぐリンクワーカーをAIで後押しするシステムをデザイン。</p>
<p class="news-date">2026-02-20</p>
</a>
</div>

<div class="news-card">
<a href="https://rd.hitachi.co.jp/_ct/17817036?o=0&amp;tg=%E5%85%88%E7%AB%AF%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%EF%BC%86%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783695/rc/2026/01/22/be56088b99bc3c3d0706aecf42c6461f8dec2e35_large.jpg" alt="News" class="news-image">
<p class="news-title">AIモデル同士の会話から相性を特定し、ハイパフォーマンスなAIチームを自動編成する技術を開発</p>
<p class="news-date">2026-01-26</p>
</a>
</div>

<div class="news-card">
<a href="https://rd.hitachi.co.jp/_ct/17811118?o=0&amp;tg=%E5%85%88%E7%AB%AF%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%EF%BC%86%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783695/rc/2025/12/18/04eb8770e075c728ded47a096f2939967e8666bd_large.jpg" alt="News" class="news-image">
<p class="news-title">日立、制御工学とAI・ソフトウェア工学を融合し、「Physical AI」の実現に向けた制御ソフトウェアの開発効率化と再利用技術を開発</p>
<p class="news-date">2025-12-24</p>
</a>
</div>

<div class="news-card">
<a href="https://rd.hitachi.co.jp/_ct/17804707?o=0&amp;tg=%E5%85%88%E7%AB%AF%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%EF%BC%86%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783695/rc/2025/11/21/3819a1b73737de96516941d37c8660e473c6c642_large.jpg" alt="News" class="news-image">
<p class="news-title">ダム再開発工事にBIM/CIMを活用した3次元流体解析技術を導入</p>
<p class="news-date">2025-11-19</p>
</a>
</div>

</div>