<div class="news-grid">

<div class="news-card">
<a href="https://rd.hitachi.com/_ct/17810982?o=0&tg=Software_%26_Systems">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783696/rc/2025/12/18/4b4297e8de69ed94f36840a3c21bfe38ca24a48e_large.jpg" alt="News" class="news-image">
<p class="news-title">Advancing space situational awareness through omnidirectional observation using radio waves: Aiming for applications in monitoring urban infrastructure and the environment</p>
<p class="news-date">2025-12-25</p>
</a>
</div>

<div class="news-card">
<a href="https://rd.hitachi.com/_ct/17818321?o=0&tg=Software_%26_Systems">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783696/rc/2026/01/28/80d68d0b7eccbdfc98ee1a24bdf9a241efe7a901_large.jpg" alt="News" class="news-image">
<p class="news-title">Hitachi develops technologies that enhance the development efficiency and reusability of control software by integrating control engineering, AI, and software engineering to help bring about physical AI</p>
<p class="news-date">2025-12-24</p>
</a>
</div>

<div class="news-card">
<a href="https://rd.hitachi.com/_ct/17806977?o=0&tg=Software_%26_Systems">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783696/rc/2025/12/01/16042ca59a6dfaed6042fdb4a9953abbfab5cdf7_large.jpg" alt="News" class="news-image">
<p class="news-title">New system that helps predict worksite hazards using Hitachi’s next-generation AI agent Naivy demonstrates enhancements of on-site safety while boosting efficiency</p>
<p class="news-date">2025-10-07</p>
</a>
</div>

<div class="news-card">
<a href="https://rd.hitachi.com/_ct/17793224?o=0&tg=Software_%26_Systems">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783696/rc/2025/09/29/66e52ea96463c129d16823f4bc1406bcb2d3738c_large.jpg" alt="News" class="news-image">
<p class="news-title">Hitachi Group’s software development enhancement activities inducted into the “Product Line Hall of Fame” at ACM SPLC 2025</p>
<p class="news-date">2025-09-30</p>
</a>
</div>

<div class="news-card">
<a href="https://rd.hitachi.com/_ct/17800529?o=0&tg=Software_%26_Systems">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783696/rc/2025/11/04/cd5bab1d9137199ac84f44bc37700438217a46ca_large.jpg" alt="News" class="news-image">
<p class="news-title">Newly developed support system for link workers enhances quality of support for residents by streamlining the interview process with generative AI</p>
<p class="news-date">2025-08-27</p>
</a>
</div>

<div class="news-card">
<a href="https://rd.hitachi.com/_ct/17781516?o=0&tg=Software_%26_Systems">
<img src="https://d1uzk9o9cg136f.cloudfront.net/f/16783696/rc/2025/07/31/77f65f81692d20fa8c4e3988a43823ecb61e9010_large.jpg" alt="News" class="news-image">
<p class="news-title">Promoting global innovation through three IEEE international conferences in AI, multimedia and robotics co-located at Hitachi R&D</p>
<p class="news-date">2025-08-06</p>
</a>
</div>

</div>